/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-card {
    width: 20rem;
    min-height: 12rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .d-flex{display: flex;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }